{% extends "dict/main.html" %}

{% block title %} about - {% endblock %} 

{% block content %}

<br>

dictionary project
<br>
TODO?
<br>

<p>
This site    uses the 
<a href="http://www.csse.monash.edu.au/~jwb/edict.html">EDICT</a> and
<a href="http://www.csse.monash.edu.au/~jwb/kanjidic.html">KANJIDIC</a> dictionary files.
These files are the property of the 
<a href="http://www.edrdg.org/"> Electronic Dictionary 
Research and Development Group</a>, and are used in
conformance with the Group's 
<a href="http://www.edrdg.org/edrdg/licence.html">licence</a>.
</p>

{% endblock %}