{% extends "dict/main.html" %}

{% block title %} index - {% endblock %} 

{% block content %}
<ul>
{% for Word in word_list %}
<li><a href="{% url 'dict:detail' Word.word %}">{{ Word.word }} / {{ Word.reading }}</a> </li>

             {% for WordTL in Word.meanings.all  %}
               {{ WordTL.translation }} 
            {% endfor %}
            
{% endfor %}
<br> <br>

<div class="pagination">
    <span class="step-links">
        <span class="current">
            {{ word_list.number }} of {{ word_list.paginator.num_pages }} //
        </span>
        
        {% if word_list.has_previous %}
            <a href="?page={{ word_list.previous_page_number }}">previous</a>
        {% endif %}
        
        {% if word_list.has_next %}
            <a href="?page={{ word_list.next_page_number }}">next</a>
        {% endif %}
       
<!--
       <br>
       
        {% with word_list.number|center:word_list.paginator.num_pages as range %}
           {% for word_list.number in range  %}
            <a href="?page={{ forloop.counter }}">  {{ forloop.counter }}</a>
           {% endfor %}
         {% endwith %}
--> 
          
    </span>
</div>

{% endblock %}