<!DOCTYPE html>
{% load static %}
<html>

<head>

<link rel="stylesheet" type="text/css" href="{% static 'dict/style.css' %}" />
<link rel="shortcut icon" type="image/bmp" href="{% static 'dict/images/favicon.ico' %}"/>
<title> {% block title %} {% endblock %} khaooh </title>

</head>


<body>

<form method="GET" action="" id="searchform" style="display: inline;">
    <input class="searchfield" id="searchbox" name="search" type="text" value="{{ request.GET.search }}" placeholder="Search..."/>
</form>

 &nbsp; 
<a href="{% url 'dict:index' %}">main site</a>  &nbsp; 
<a href="{% url 'dict:about' %}">about</a> 


<br>

{% block content %} {% endblock %}
<body>

<p>
This site    uses the 
<a href="http://www.csse.monash.edu.au/~jwb/edict.html">EDICT</a> and
<a href="http://www.csse.monash.edu.au/~jwb/kanjidic.html">KANJIDIC</a> dictionary files.
These files are the property of the 
<a href="http://www.edrdg.org/"> Electronic Dictionary 
Research and Development Group</a>, and are used in
conformance with the Group's 
<a href="http://www.edrdg.org/edrdg/licence.html">licence</a>.
</p>

</html>